<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="border border-white  rounded">
        <a class="navbar-brand" href="/" style="margin:auto; padding: 10px">WebChat</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <!--PUT OTHER OPTIONS HERE-->
            <li class="nav-item ">
                <a class="nav-link" href="/web/rooms/user_rooms">Your Rooms</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/web/rooms/all">Discover Rooms</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/web/profile">Profile</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/web/signOut">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>